@charset "UTF-8";

@media (max-width: 1250px) {
	html, body {
		font-size: 15.5px;
	}
}

@media (max-width: 1024px) {
	html, body {
		font-size: 15px;
	}
}

@media (max-width: 896px) {
	html, body {
		font-size: 14.5px;
	}
}

@media (max-width: 768px) {
    #header {
        padding-top: 0.75rem;
        padding-bottom: 0.35rem;
    }
    #header > div {
        display: block;
    }
    #header > div > div {
        display: block;
        text-align: center;
    }
    #header #col-link {
        display: none;
    }
    #content {
        border-top: 0;
    }
    #provider {
        float: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-end;
        margin-left: auto;
        margin-right: auto;
        min-width: 0;
    }
    #provider .engine {
        padding-right: 1.15rem;
    }
    #provider label {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }
}

@media (max-width: 640px) {

}

@media (max-width: 480px) {

}
